$primary-peach-color:#E7816B;
$primary-black-color: #1D1C1E;
$primary-white-color:#ffffff;
$secondary-light-peach-color:#FFAD9B;
$secondary-dark-grey-color:#333136;
$secondary-light-grey-color:#F1F3F5;

$my-ff:"Jost",sans-serif;
